.navbar-styles {
    top: 0;
    position: sticky;
    z-index: 100;
    grid-area: navbar-styles;
    width: 100%;
    background-color: aquamarine;
    top: 0;

    ul {
        display: flex;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}