$anchototal: 100%;
$altototal: 100%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: $altototal;
    width: $anchototal;
}

.cabecera,
.seccion,
.perfumes,
.articulo,
.pie {
    padding: 10px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-areas:
        "navbar-styles navbar-styles"
        "seccion seccion"
        "seccion2 seccion2"
        "pie pie";
    grid-template-columns: 2(auto);
    grid-template-rows: repeat(3, auto) 50px;

}

.seccion {
    grid-area: seccion;
    display: flex;
    justify-content: center;
    align-items: center;



    .carousel {
        .carousel-inner>.item>img {
            width: 300px;


        }

        .carousel-indicators {
            color: black;
        }


    }
}

.seccion2 {
    grid-area: seccion2;

    .grupomarcas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .marcas {
        display: flex;
        justify-content: center;
        margin: 60px;
        height: 220px;
        width: 300px;
        border: solid 1px rgb(173, 172, 172);
        border-radius: 10px;
        cursor: pointer;
    }
}



.pie {
    grid-area: pie;
    font-size: 20px;
    background-color: aquamarine;

    .redes {
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

img {
    width: 200px;
    height: 200px;
}

@import "navbar";
@import "queriesmarcas";