@import "./partials/navbar";
@import "./partials/mixin";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    @include atotal;
}

.cabecera,
.seccion,
.pie {
    padding: 10px;
}

.main {
    @include atotal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .seccion {
        width: 50%;
        overflow: hidden;

        button {
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 40px;
            width: 110px;
            color: white;
            border: none;
            cursor: pointer;

            &.registro {
                background-color: rgb(2, 51, 124);
            }

            &.cancelar {
                background-color: red;
            }
        }

    }



    .pie {
        @include piecaracteristicas;

        a {
            text-decoration: none;
            color: inherit;
        }

        .redes {
            display: flex;
            justify-content: space-around;
        }
    }
}

@import "./partials/queriesregistro";