@import "navbar";
@import "mixin";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    @include atotal;
}

.cabecera,
.navbar-style,
.seccion,
.pie {
    padding: 10px;
}

.main {
    @include atotal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .navbar-style {
        width: 100%;
        height: fit-content;
        background-color: aquamarine;

        a {
            text-decoration: none;
            color: inherit;
        }

        li:hover {
            background-color: aqua;
        }

    }


    .seccion {
        width: 50%;
        overflow: hidden;

        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .pie {
        @include piecaracteristicas;

        a {
            text-decoration: none;
            color: inherit;
        }

        .redes {
            display: flex;
            justify-content: space-around;
        }
    }
}

@import "queriesregistro";