@import "./partials/indexytratamiento";
@import "./partials/marcas";
@import "./partials/registro";

header {
    top: 0;
    position: sticky;
    z-index: 100;
    align-items: center;
}

footer {
    bottom: 0;
    position: sticky;
    z-index: 100;
}

body,
html {
    @include atotal;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion,
.perfumes,
.articulo,
.pie {
    padding: 10px;
}