.navbar-styles {
    top: 0;
    position: sticky;
    z-index: 100;
    grid-area: navbar-styles;
    width: 100%;
    @include colors;

    .btn-outline-success:hover {
        @include hover;
    }

    ul {
        display: flex;
        justify-content: space-around;

    }

    li {
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    @media (min-width:768px) {
        li:hover {
            @include hover;
        }
    }
}