@import "navbar";

@media (min-width:768px) {
    .grid {
        display: grid;
        width: 100%;
        grid-template-areas:
            "navbar-styles navbar-styles navbar-styles"
            "head head head"
            "seccion perfumes perfumes"
            "pie pie pie";
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto 30px auto 50px;
    }

    .main {
        overflow: hidden;
        width: 100%
    }

    header {
        grid-area: head;
        text-align: center;
    }

    .container {
        transition: all 150ms linear;

        .compra {
            opacity: 0;
            transition: all 300ms linear;

            &:hover {
                cursor: pointer;
                background-color: rgb(158, 177, 177);
                animation: shake 0.5s;
            }
        }

        &:hover {
            border-color: rgb(5, 5, 5);
            border-bottom: 5px solid;

            .compra {
                opacity: 1;
            }
        }
    }


    .emoticonos:hover {
        animation: shake 0.5s;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(10deg);
        }

        50% {
            transform: rotate(0eg);
        }

        75% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

}