.body-registro {
    @include atotal;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-registro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .seccion-registro {
        width: 50%;
        overflow: hidden;

        button {
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 40px;
            width: 110px;
            color: white;
            border: none;
            cursor: pointer;

            &.registro {
                background-color: rgb(2, 51, 124);
            }

            &.cancelar {
                background-color: red;
            }
        }

    }
}