*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .seccion, .perfumes, .articulo, .pie ,.perfumes2{
    padding: 10px;
    
}


    .grid{
        display: grid;
        grid-template-areas:
        "navbar navbar"
        "seccion seccion"
        "perfumes perfumes"
        "perfumes perfumes"
        "perfumes perfumes"
        "perfumes2 perfumes2"
        "perfumes2 perfumes2"
        "perfumes2 perfumes2"
        "pie pie";
        grid-template-columns: 2(auto);
        grid-template-rows: auto auto repeat(6,auto) 50px;
        
    }




@media (min-width:768px) {
.grid{
    display: grid;
    grid-template-areas:
    "navbar navbar navbar"
    "seccion perfumes perfumes"
    "seccion perfumes2 perfumes2"
    "pie pie pie";
    grid-template-columns: auto repeat(2, auto);
    grid-template-rows:  auto repeat(3,auto) 50px;
}
}
.navbar{
    grid-area: navbar;
    width: 100%;
    background-color: aquamarine;
    top: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
li:hover{
    background-color: aqua;
}
.seccion{
    grid-area: seccion;
}
.articulo{
    grid-area: articulo;
}

.pie{
    grid-area: pie;
    font-size: 20px;
    background-color: aquamarine;
}
.perfumes{
    grid-area: perfumes;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: default;
}
.perfumes2{
    grid-area:perfumes2;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: default;
}
.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: solid 1px rgb(173, 172, 172);
	border-radius: 10px;
    margin: 10px;
}

.articulos{
	display: flex;
	margin-top: 60px;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 0px;
	height: 100%;
	width: 300px;
    padding-bottom: 20px;
    overflow: hidden;
}
.nombre-perfume{
    margin: auto;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.compra{
    padding: 5px;
	margin: 0 auto;
    margin-bottom: 10px;
	height: 50px;
    width: 200px;
	border-radius: 20px;
	overflow:hidden;
    background-color: black;
    color: white;
}
.compra:hover{
    cursor: pointer;
    background-color: rgb(158, 177, 177);
}
.container .compra{
    display: none;
}
.container:hover .compra{
    display: block;
}
.container:hover{
	cursor: pointer;
	border-color: rgb(5, 5, 5);	
}
.redes{
    display: flex;
    justify-content: space-evenly;
}