*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecera, .navbar, .seccion, .pie{
    padding: 10px;      
}

.grid{
    display: grid;
    grid-template-columns:  repeat(3, auto);
    grid-template-rows:  auto auto   50px;
    grid-template-areas:
    "navbar navbar navbar"
    "seccion seccion seccion"
    "pie pie pie";
}

.navbar{
    grid-area: navbar;
    width: 100%;
    background-color: aquamarine;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
li:hover{
    background-color: aqua;
}

.seccion{
    width: 100%;
    grid-area: seccion;
    overflow: hidden;
}

.pie{
    grid-area: pie;
    font-size: 20px;
    background-color: aquamarine;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}

