.navbar-styles {
  top: 0;
  position: sticky;
  z-index: 100;
  grid-area: navbar-styles;
  width: 100%;
  background-color: aquamarine;
  top: 0;
}
.navbar-styles ul {
  display: flex;
  justify-content: space-around;
}
.navbar-styles a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seccion,
.perfumes,
.articulo,
.pie,
.perfumes2 {
  padding: 10px;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "navbar-styles navbar-styles" "head head" "seccion seccion" "perfumes perfumes" "perfumes perfumes" "perfumes perfumes" "perfumes2 perfumes2" "perfumes2 perfumes2" "perfumes2 perfumes2" "pie pie";
  grid-template-columns: 2 auto;
  grid-template-rows: auto 30px auto repeat(6, auto) 50px;
}

body,
html {
  width: 100%;
  height: 100%;
}
body header,
html header {
  grid-area: head;
  text-align: center;
}

.seccion {
  grid-area: seccion;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.seccion .dropdown {
  margin-bottom: 10px;
}

.perfumes {
  grid-area: perfumes;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: default;
}
.perfumes .container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: solid 1px rgb(173, 172, 172);
  border-radius: 10px;
  margin: 10px;
  transition: all 150ms linear;
}
.perfumes .container .articulos {
  display: flex;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 30px;
  margin-bottom: 0px;
  height: 100%;
  width: 300px;
  padding-bottom: 20px;
  overflow: hidden;
}
.perfumes .container .articulos .nombre-perfume {
  margin: auto;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  white-space: nowrap;
}
.perfumes .container .compra {
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
  background-color: black;
  color: white;
}

.perfumes2 {
  grid-area: perfumes2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: default;
}
.perfumes2 .container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: solid 1px rgb(173, 172, 172);
  border-radius: 10px;
  margin: 10px;
  transition: all 150ms linear;
}
.perfumes2 .container .articulos {
  display: flex;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 30px;
  margin-bottom: 0px;
  height: 100%;
  width: 300px;
  padding-bottom: 20px;
  overflow: hidden;
}
.perfumes2 .container .articulos .nombre-perfume {
  margin: auto;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  white-space: nowrap;
}
.perfumes2 .container .compra {
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
  background-color: black;
  color: white;
}

.pie {
  height: 50px;
  width: 100%;
  grid-area: pie;
  font-size: 20px;
  background-color: aquamarine;
  margin-bottom: 0;
}
.pie .redes {
  display: flex;
  justify-content: space-evenly;
}
.pie .redes a {
  text-decoration: none;
  color: inherit;
}

.navbar-styles {
  top: 0;
  position: sticky;
  z-index: 100;
  grid-area: navbar-styles;
  width: 100%;
  background-color: aquamarine;
  top: 0;
}
.navbar-styles ul {
  display: flex;
  justify-content: space-around;
}
.navbar-styles a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-areas: "navbar-styles navbar-styles navbar-styles" "head head head" "seccion perfumes perfumes" "seccion perfumes2 perfumes2" "pie pie pie";
    grid-template-columns: auto repeat(2, auto);
    grid-template-rows: auto 30px repeat(2, auto) 50px;
  }
  header {
    grid-area: head;
    text-align: center;
  }
  .container {
    transition: all 150ms linear;
  }
  .container .compra {
    opacity: 0;
    transition: all 300ms linear;
  }
  .container .compra:hover {
    cursor: pointer;
    background-color: rgb(158, 177, 177);
  }
  .container .compra:hover:hover {
    animation: shake 0.5s;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0eg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .container:hover {
    border-color: rgb(5, 5, 5);
    border-bottom: 5px solid;
  }
  .container:hover .compra {
    opacity: 1;
  }
  .navbar-styles li:hover {
    background-color: aqua;
  }
  .emoticonos:hover {
    animation: shake 0.5s;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0eg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/*# sourceMappingURL=styles.css.map */
